<% layout("layouts/boilerplate") %>

<div class="row mb-3">
  <h1 class="text-center">Edit Recipe</h1>
  <div class="col-md-6 offset-md-3">
    <div class="card shadow">
      <div class="p-3">
        <form action="/recipe/<%= recipe._id %>?_method=PUT" method="post" novalidate class="validated-form">
          <div class="mb-3">
            <label class="form-label fw-bold" for="title">Recipe Name</label>
            <input class="form-control" required type="text" id="title" name="recipe[title]" value="<%= recipe.title %>" />
          </div>
          <div class="mb-3">
            <label class="form-label fw-bold" for="description">Description</label>
            <textarea class="form-control" type="text" id="description" name="recipe[description]" required><%= recipe.description %></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label fw-bold" for="ingredients">Ingredients</label>
            <ul id="ingredientList" class="list-group list-group-flush mb-3">
              <% for (let ingredient of recipe.ingredients) { %>
              <li class="list-group-item d-flex" id="addlist">
                <input type="text" class="form-control" placeholder="Enter item text" required name="recipe[ingredients]" value="<%= ingredient  %>" />
                <button type="button" class="btn btn-transparent remove-button" aria-label="Close">&times;</button>
              </li>
              <% } %>
            </ul>
            <a href="#" id="addIngredientLink">Add ingredient</a>
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold" for="steps">Steps</label>
            <ul id="stepList" class="list-group list-group-flush mb-3">
              <% for (let step of recipe.steps) { %>
              <li class="list-group-item d-flex" id="addlist">
                <input type="text" class="form-control" placeholder="Enter item text" required name="recipe[steps]" value="<%= step  %>" />
                <button type="button" class="btn btn-transparent remove-button" aria-label="Close">&times;</button>
              </li>
              <% } %>
            </ul>
            <a href="#" id="addStepLink">Add step</a>
          </div>
          <div class="mb-3">
            <label class="form-label fw-bold" for="image">Image URL</label>
            <input class="form-control" type="text" id="image" name="recipe[image]" value="<%= recipe.image %>" />
          </div>
          <button class="btn btn-success">Save Recipe</button>
          <a href="/recipe/<%=recipe._id %>" class="btn btn-danger">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  #addlist {
    padding-right: 0;
  }
</style>
